absl-py==2.0.0
asttokens==3.0.0
backcall==0.2.0
biopython==1.83
boto3==1.34.7
botocore==1.34.7
Brotli==1.0.9
cachetools==5.3.2
certifi==2024.2.2
cffi==1.15.0
charset-normalizer==2.0.4
comm==0.2.2
contourpy==1.1.1
cramjam==2.9.1
cryptography==3.4.8
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
entrypoints==0.4
executing==2.2.0
fair-esm==2.0.0
fastparquet==2024.2.0
filelock==3.13.1
fonttools==4.47.2
fsspec==2024.12.0
gensim==3.4.0
google-auth==2.25.2
google-auth-oauthlib==1.0.0
grpcio==1.60.0
idna==3.4
importlib_metadata==8.5.0
importlib-resources==6.1.1
ipykernel==6.29.5
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.5
lmdb==1.4.1
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.7.4
matplotlib-inline==0.1.7
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
nest-asyncio==1.6.0
networkx==3.1
numpy==1.23.1
oauthlib==3.2.2
packaging==24.2
pandas==1.5.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
Pillow==10.0.1
pip==24.0
platformdirs==4.3.6
prompt_toolkit==3.0.50
protobuf==4.25.1
psutil==7.0.0
ptyprocess==0.7.0
PubChemPy==1.0.4
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyfasta==0.5.2
Pygments==2.19.1
pyOpenSSL==19.1.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2023.3.post1
pyzmq==26.4.0
rdkit==2023.9.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.10.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.11.2
setuptools==68.2.2
six==1.17.0
smart-open==6.4.0
stack-data==0.6.3
statannotations==0.6.0
tape-proteins==0.5
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
torch==1.12.0
torch_geometric==2.4.0
torch-scatter==2.0.9
torchaudio==0.12.0
torchvision==0.13.0
tornado==6.4.2
tqdm==4.66.1
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2023.3
urllib3==1.26.18
wcwidth==0.2.13
Werkzeug==3.0.1
wheel==0.41.2
xlrd==2.0.1
zipp==3.20.2
